:root {
  /* LOGO MAIN COLORS */
  --color-logo-1: #a7d138;
  --color-logo-2: #334093;
  --color-logo-3: #0d8fcc;
  --color-logo-4: #ec1250;
  --color-logo-5: #f4697d;
  --color-logo-6: #13beda;
  --color-logo-7: #a51873;
}
